<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Rejection Analyzer</string>
	<key>CFBundleExecutable</key>
	<string>Rejection Analyzer</string>
	<key>CFBundleIconFile</key>
	<string>generated-c115b1898f9714c475272bff4341d85dbc62f4154c1c65a751109108783c574d.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Rejection Analyzer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Rejection Analyzer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
